{% extends "base.html.twig" %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weigth-normal text-center">{{ controller_name }}</h1>

    {{ form(emailForm) }}

{% endblock %}