{% extends "baseLogin.html.twig" %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weigth-normal text-center">{{ controller_name }}</h1>

    <form method="POST">
        <div class="form-control">
            <label for="pass">Nouveau Mot de Passe</labe>
            <input type="password" name="password" id="pass"/>
            <input type="hidden" name="token" value="{{ token }}"/>
        </div>
        <div class="form-control">
            <button class="btn btn-primary">Valider</button>
        </div>
    </form>

{% endblock %}