{% extends 'base.html.twig' %}

{% block title %}Edit Families{% endblock %}

{% block body %}
    <h1>Edit Families</h1>

    {{ include('families/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('families_niveau', {'id': family.parent.id}) }}">back to list</a>

    {{ include('families/_delete_form.html.twig') }}
{% endblock %}
