{% extends 'base.html.twig' %}

{% block title %}creer Article | Secu Quizz{% endblock %}

{% block body %}
    <h1>Creer nouvelle Article </h1>

    {{ include('families/_form.html.twig') }}

    {# <a href="{{ path('families_niveau', {'id': family.parent.id}) }}">back to list</a> #}
{% endblock %}
