{% extends 'base.html.twig' %}

{% block title %}nouvelle Article{% endblock %}

{% block body %}
    <h1>Créer nouvelle Article </h1>

    {{ include('families/_form.html.twig') }}

    <a href="{{ path('families_index') }}">retour aux article</a>
{% endblock %}
