{% extends 'base.html.twig' %}

{% block title %}Validation Question{% endblock %}

{% block body %}
    <h1>Validation de la Question</h1>

    {{ include('questions/_form.html.twig', {'button_label': 'OK'}) }}

    <a href="{{ path('questions_index', {'article': article, 'parent': parent}) }}">back to list</a>

    {{ include('questions/_delete_form.html.twig') }}


    {# <form class="form-group" action="{{ path('user_index') }}" method="get">
            <table class="table">
                <tr>
                    <td>
                        <select class="custom-select" name="users">
                            <option selected="">Which users to you want to see ?</option>
                            <option value="1">All</option>
                            <option value="2">Students</option>
                            <option value="3">Teachers</option>
                            <option value="4">Admins</option>
                            <option value="5">Super Admin</option>
                            <option value="6">Banned</option>
                            <option value="7">Unbanned</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
</form> #}
{% endblock %}
