{% extends 'base.html.twig' %}

{% block title %}Nouvelle Types | Secu quizz{% endblock %}

{% block body %}
    <h1>Créer nouveaux Type</h1>

    {{ include('types/_form.html.twig') }}

    <a href="{{ path('types_index') }}">retour aux types</a>
{% endblock %}
